{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block content %}

    <div class="container-fluid" id="wrapper">
    <div class="row">

        <!-- Main Content -->
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">

            <h1>Login Page</h1>

            <div class="card-block">

            {% if form.errors %}
            <p style="color: #ff0000;">Invalid password or username.<br> Note both fields may be case-sensitive</p>
            {% endif %}

{#            {% if next %}#}
{#            <i>Enter your login details</i>#}
{#            {% endif %}#}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <p>Username: {{ form.username }}</p>
                <p>Password: {{ form.password }}</p>

                <p><input type="submit" value="Login" class="btn btn-md btn-primary"></p>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <hr>

            </div>

            <img class="log-image" src="{% static "images/room1.JPG" %}" width="50%" height="300">
        </main>
        <!-- //Main Content -->

    </div>
</div>

{% endblock %}