{% extends 'base.html' %}

{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block content %}

    <h1>Login Page</h1>
    {% if form.errors %}
    <p style="color: #ff0000;">Invalid password or username.</p>
    {% endif %}

    {% if next %}
    <i>Enter your login details</i>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="Login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}