{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Logout Page</title>
{% endblock %}

{% block content %}

    <div class="container-fluid" id="wrapper">
    <div class="row">

        <!-- Main Content -->
        <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">

            <h1>Logged Out</h1>
            <p>You are now logged out! <a href="{% url 'login' %}">Login again</a></p>

            <img class="log-image" src="{% static "images/room2.JPG" %}" width="50%" height="350">

        </main>
        <!-- //Main Content -->

    </div>
</div>

{% endblock %}