.logo {
    position: absolute;
    bottom: 50px;
    width: 50px;;
}

@media screen and (max-width: 576px) {
    .logo {
      display: none; 
    }
}

.log-image {
    box-shadow: 0 5px 5px 0 #adb5bd;
    border-radius: 10%;
    width: 70%;
}