<section class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card mb-4">
            <div class="card-block">
                <h3 class="card-title">Reservation Feeds</h3>
                <div class="dropdown card-title-btn-container">
                    <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>
                    <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
                        <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
                        <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Guest name</th>
                                <th>Room</th>
                                <th>Price</th>
                                <th>Payment Status</th>
                                <th>Service Remark</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in all_reservations %}
                                <tr>
                                    <td>{{ reservation.time }}</td>
                                    <td>{{ reservation.guest }}</td>
                                    <td>{{ reservation.room }}</td>
                                    <td>{{ reservation.price }}</td>
                                    <td>{{ reservation.payment_status }}</td>
                                    <td>{{ reservation.remark }}</td>
                                    <td>{{ reservation.user }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>